<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
    <!-- START navbar header-->
    <div class="navbar-header">
        <a href="#/app/dashboard" class="navbar-brand">
            <div class="brand-logo nav_div">
                <h3 class="nav_head">BulBul</h3>
            </div>
            <div class="brand-logo-collapsed">
                <img src="app/img/ic_launcher.png" alt="BulBul" class="img-responsive"/>
            </div>
        </a>
    </div>
    <!-- END navbar header-->
    <!-- START Nav wrapper-->
    <div class="nav-wrapper">
        <!-- START Left navbar-->
        <ul class="nav navbar-nav">
            <li>
                <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                <a href="#" ng-click="app.layout.isCollapsed = !app.layout.isCollapsed" class="hidden-xs">
                    <em class="fa fa-navicon"></em>
                </a>
                <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
                <a href="#" toggle-state="aside-toggled" no-persist="no-persist" class="visible-xs sidebar-toggle">
                    <em class="fa fa-navicon"></em>
                </a>
            </li>
        </ul>
        <!-- END Left navbar-->
        <!-- START Right Navbar-->
        <ul class="nav navbar-nav navbar-right">
            <!-- Fullscreen (only desktops)-->
            <li class="visible-lg">
                <a href="#" toggle-fullscreen="toggle-fullscreen" title="Full Screen">
                    <em class="fa fa-expand"></em>
                </a>
            </li>
            <!-- START Logout function-->
            <li>
                <a title="Logout" ng-controller="LoginController" ng-click="logout()">
                    <em class="icon-logout"></em>
                </a>
            </li>
            <!-- END Logout function-->
        </ul>
        <!-- END Right Navbar-->
    </div>
    <!-- END Nav wrapper-->

</nav>
<!-- END Top Navbar-->