<div class="ngdialog-message" ng-controller="AddServiceController">
    <h3>Add Service</h3>

    <form method="post" validate-form="" novalidate="" ng-submit="AddService()" id="add-service">
        <div class="panel panel-default">

            <div ng-show="successMsg" class="alert alert-success text-center">{{successMsg}}</div>
            <div ng-show="errorMsg" class="alert alert-danger text-center">{{errorMsg}}</div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">Category</label>
                    <select class="form-control m-bot15"
                            placeholder="choose"
                            style="width:100%;"
                            ng-init="cat = options[0]"
                            ng-model="addService.category" value="addService.category"
                            ng-options="option.name for option in options">

                    </select>
                    <!--<input type="text" name="team_name" required="required" class="form-control"-->
                    <!--ng-model="addService.category"/>-->
                </div>
                <div class="form-group">
                    <label class="control-label">Service Name</label>
                    <input type="text" name="team_name" required="required" class="form-control"
                           ng-model="addService.servicename"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Cost($)</label>
                    <input type="text" name="team_name" required="required" class="form-control"
                           ng-model="addService.cost" data-parsley-type="number"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Time(min)</label>
                    <input type="text" name="team_name" required="required" class="form-control"
                           ng-model="addService.servicetime" data-parsley-type="number"/>
                </div>
               <!-- <div class="form-group">
                    <label class="control-label">Description Title</label>
                    <input type="text" name="team_name" required="required" class="form-control"
                           ng-model="addService.desc_title"/>
                </div>-->
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <textarea type="text" name="team_name"  class="form-control"
                           ng-model="addService.description"></textarea>
                </div>

                <div class="form-group">
                    <label class="control-label">Image</label>

                    <input filestyle="" type="file" name="image" accept="image\*" ng-required="!type"
                           onchange="angular.element(this).scope().file_to_upload(this.files)"
                           data-button-text="Single" data-class-button="btn btn-default" ng-model="image_url"
                           data-classinput="form-control inline" ng-disabled="type" nv-file-select=""
                           uploader="uploader"
                           class="form-control"/>
                    <!--<img ng-model="image_url" class="thumbnil" ng-src="{{image_url}}"  width="50"/>-->
                </div>
             <!--   <div class="form-group">
                    <label class="control-label">How to get ready?</label>
                    <script type="text/ng-template" id="ng-wig/views/ng-wig.html">
                        <div class="ng-wig">
                            <div class="btn-group btn-group-sm wd-wide">
                                <button type="button" title="Header"
                                        ng-click="execCommand('formatblock', '&lt;h1&gt;')"
                                        class="btn btn-sm btn-default"><em class="fa fa-header"></em></button>
                                <button type="button" title="Paragraph"
                                        ng-click="execCommand('formatblock', '&lt;p&gt;')"
                                        class="btn btn-sm btn-default"><em class="fa fa-paragraph"></em>
                                </button>
                                <button type="button" title="Unordered List"
                                        ng-click="execCommand('insertunorderedlist')"
                                        class="btn btn-sm btn-default"><em class="fa fa-list-ul"></em></button>
                                <button type="button" title="Ordered List"
                                        ng-click="execCommand('insertorderedlist')"
                                        class="btn btn-sm btn-default"><em class="fa fa-list-ol"></em></button>
                                <button type="button" title="Bold" ng-click="execCommand('bold')"
                                        class="btn btn-sm btn-default"><em class="fa fa-bold"></em></button>
                                <button type="button" title="Italic" ng-click="execCommand('italic')"
                                        class="btn btn-sm btn-default"><em class="fa fa-italic"></em></button>
                                <button type="button" title="link" ng-click="execCommand('createlink')"
                                        class="btn btn-sm btn-default"><em class="fa fa-link"></em></button>
                                <button type="button" title="Edit Html"
                                        ng-class="{ 'nw-button--active': editMode }"
                                        ng-click="toggleEditMode()" class="pull-right btn btn-sm btn-default">
                                    <em
                                            class="fa fa-pencil"></em></button>
                            </div>
                            <div class="nw-editor"><textarea ng-show="editMode" ng-model="content"
                                                             class="nw-editor__src"> </textarea>
                                <iframe scrolling="{{ autoexpand ? 'no' : 'yes' }}" frameBorder="0"
                                        ng-hide="editMode"
                                        ng-model="content" ng-wig-editable="" class="nw-editor__res"></iframe>
                            </div>
                        </div>
                    </script>
                    <textarea ng-wig="content" ng-model="addService.instructions" required="required"></textarea>
                </div>-->
            </div>
            <div class="panel-footer">
                <button type="s" class="btn btn-primary">Submit</button>
                <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default">Cancel
                </button>
            </div>
        </div>
    </form>
</div>
