<h3>Current Booking
    <small>get cart Details</small>
</h3>
<div ng-controller="CartDetailsController" class="container-fluid">
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="table-responsive">
                <table id="dataTable2" class="table table-striped table-hover"
                       ng-class="{'whirl standard' : loading }">
                    <thead>
                    <tr>
                        <th style="width:5px">#</th>
                        <th style="width:10px">Service Type</th>
                        <th style="width:10px">Service Name</th>
                        <th style="width:10px">Service Cost</th>
                        <th style="width:10px">quantity</th>
                        <th style="width:10px">Service Time</th>
                        <th style="width:10px">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in list">

                        <td>{{$index + 1}}</td>
                        <td ng-switch="data.category">
                            <span ng-switch-when="1">Hair</span>
                            <span ng-switch-when="2">Face</span>
                            <span ng-switch-when="3">Waxing</span>
                            <span ng-switch-when="4">Pamper</span>
                            <span ng-switch-when="5">Nail</span>
                            <span ng-switch-when="6">Make Up</span>
                        </td>
                        <td>{{data.service_name}}</td>
                        <td>{{data.cost}}</td>
                        <td>{{data.quantity}}</td>
                        <td>{{data.service_time}}</td>
                        <td ng-switch="data.status">
                            <span ng-switch-when="0" class="label label-info">Booked</span>
                            <span ng-switch-when="1" class="label label-info">Canceled</span>
                            <!-- <span ng-switch-when="2" class="label label-success">Confirmed</span>
                             <span ng-switch-when="3" class="label label-primary">Out</span>
                             <span ng-switch-when="4" class="label label-purple">Reached</span>
                             <span ng-switch-when="5" class="label label-pink">Started</span>
                             <span ng-switch-when="6" class="label label-danger">Ended</span>
                             <span ng-switch-when="7" class="label label-warning">Rejected</span>
                             <span ng-switch-when="8" class="label label-warning">Canceled</span>-->
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>
                            <input type="text" name="filter_index" placeholder="#"
                                   class="form-control input-sm datatable_input_col_search"/>
                        </th>
                        <th>
                            <input type="text" name="filter_meal_name" placeholder="Service Name"
                                   class="form-control input-sm datatable_input_col_search"/>
                        </th>
                        <th>
                            <input type="text" name="filter_meal_description" placeholder="Service Cost"
                                   class="form-control input-sm datatable_input_col_search"/>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
 </div>
    </div>