<span ng-controller="NewRequestedController">
<h3>New Requested Artist
    <small>Get all new requested artists list</small>
</h3>
<div class="container-fluid">

    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table id="datatable2" class="table table-striped table-hover"
                           ng-class="{'whirl standard' : loading }">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th style="width: 100px;">Phone No.</th>
                            <th>Email ID</th>
                            <th>Gender</th>
                            <th>Experience</th>
                            <th>Qualification</th>
                            <th>Registration Date</th>
                            <th style="width: 170px;">Serving City</th>
                            <th>Summary</th>
                            <th style="width: 75px;">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in list">

                            <td>{{$index + 1}}</td>
                            <td>{{data.name}}</td>
                            <td>{{data.phone_no}}</td>
                            <td>{{data.email}}</td>
                            <td>{{data.gender}}</td>
                            <td>{{data.experience}}</td>
                            <td>{{data.qualification}}</td>
                            <td>{{data.reg_date}}</td>
                            <td>{{data.city}}</td>
                            <td>{{data.summary}}</td>
                            <td>

                                <button ng-click="doVerify(data.artist_id)" title="Verify"
                                        class="btn btn-sm btn-success pull-ext">
                                    <em class="fa fa-check"></em>
                                </button>

                                <button ng-click="deleteArtist(data.artist_id)" title="Delete"
                                        class="btn btn-sm btn-danger pull-ext">
                                    <em class="fa fa-trash-o"></em>
                                </button>

                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <input type="text" name="filter_index" placeholder="#"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_name" placeholder="Name"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_description" placeholder="Phone No"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_image" placeholder="Email ID"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_image" placeholder="Gender"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_mal_price" placeholder="Experience"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_mal_price" placeholder="Qualification"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_mal_price" placeholder="Registration Date"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_mal_price" placeholder="Serving City"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_mal_price" placeholder="Summary"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->

</div>
    </span>
