<h3>Push Notification
    <small>Send push notification for every user</small>
</h3>

<div class="col-sm-6">
    <div class="panel panel-default" ng-controller="PushController">
        <div class="panel-heading">
            Push Notification
        </div>
        <div class="panel-body" style="overflow: inherit;">
            <div class="form-group sub-data">
                <div class="col-lg-12">
                    <label class="form-group col-md-3 report">Title : </label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="title" required="required"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-group col-md-3 report">Message : </label>
                <textarea type="text" class="form-control" ng-model="notification_content" rows="7" required="required"></textarea>
            </div>
            </div>
        <div class="panel-footer text-right">
            <button type="button" class="btn btn-primary" ng-click="sendPushNotification()">SUBMIT</button>
        </div>
        </div>

</div>
