<span ng-controller="TodayBookingController">
<h3>Current Booking
    <small>Get all booking cart list</small>
</h3>
<div class="container-fluid">

    <div class="col-lg-4 padding_left">
        <div class="form-group" ng-controller="DatepickerDemoCtrl">
            <label class="label-promo"><h4>Select Date</h4></label>

            <p class="input-group">
                <input type="text" datepicker-popup="{{format}}"
                       ng-model="booking_date" is-open="opened"
                       style="background-color: #fff;cursor: pointer;"
                       min-date="minDate" max-date="'2099-06-22'" ng-change="changeDate(booking_date)" datepicker-options="dateOptions"
                       date-disabled="disabled(date, mode)" close-text="Close"
                       class="form-control" readonly/>
                        <span class="input-group-btn">
                           <button type="button" ng-click="open($event)" class="btn btn-default">
                               <em class="fa fa-calendar"></em>
                           </button>
                        </span>
            </p>
        </div>
    </div>

    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table id="datatable2" class="table table-striped table-hover"
                           ng-class="{'whirl standard' : loading }">
                        <thead>
                        <tr>
                            <th style="width: 40px;">#</th>
                            <th>Service Date</th>
                            <th>Start Time</th>
                            <th>Customer Name</th>
                            <th>Artist Name</th>
                            <th>Service Location</th>
                            <th>Total Price</th>
                            <th>Used Credits</th>
                            <th>Promo Code Discount Price</th>
                            <th>Pay To</th>
                            <th>Status</th>
                            <th style="width: 130px;">Booking Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in list">

                            <td><a class="link_color" ui-sref="app.cartDetails({id: data.id})">{{$index + 1}}</a></td>
                            <td><a class="link_color" ui-sref="app.cartDetails({id: data.id})">{{data.service_date}}</a></td>
                            <td><a class="link_color" ui-sref="app.cartDetails({id: data.id})">{{data.start_time}}</a></td>
                            <td><a class="link_color" ui-sref="app.cartDetails({id: data.id})">{{data.customer_name}}</a></td>
                            <td><a class="link_color" ui-sref="app.cartDetails({id: data.id})">{{data.artist_name}}</a></td>
                            <td><a class="link_color" ui-sref="app.cartDetails({id: data.id})">{{data.address}}</a></td>
                            <td>{{data.total_price}}</td>
                            <td>{{data.usedCredits}}</td>
                            <td>{{data.promoCodeDiscountPrice}}
                            <td>{{data.pay_to}}</td>
                            <td ng-switch="data.status">
                                <span ng-switch-when="0" class="label label-info">Into Cart</span>
                                <span ng-switch-when="1" class="label label-info">Booked</span>
                                <span ng-switch-when="2" class="label label-success">Confirmed</span>
                                <span ng-switch-when="3" class="label label-primary">Out</span>
                                <span ng-switch-when="4" class="label label-purple">Reached</span>
                                <span ng-switch-when="5" class="label label-pink">Started</span>
                                <span ng-switch-when="6" class="label label-danger">Ended</span>
                                <span ng-switch-when="7" class="label label-warning">Rejected</span>
                                <span ng-switch-when="8" class="label label-warning">Canceled</span>
                            </td>
                            <td>
                                <select class="form-control m-bot15"
                                        ng-model="category"
                                        placeholder="choose"
                                        ng-init="category=0"
                                        ng-disabled=data.disabled
                                        ng-change="changeCategoryStatus(category,data.id)"
                                        style="width:100%;" required>
                                    <option value="0">------Select------</option>
                                    <option value="2" ng-disabled=data.acceptBooking>Confirm</option>
                                    <option value="6" ng-disabled=data.endBooking>Complete</option>
                                    <option value="7" ng-disabled=data.declineBooking>Decline</option>
                                </select>

                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <input type="text" name="filter_index" placeholder="#"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_name" placeholder="Service Date"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_description" placeholder="Start Time"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_index" placeholder="Customer Name"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_name" placeholder="Artist Name"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_description" placeholder="Service Location"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_image" placeholder="Total Price"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_image" placeholder="Used Credits"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_image" placeholder="Promo Code Discount Price"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_image" placeholder="Pay To"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->

 </div>
</span>
