<span ng-controller="VerifiedController">
<h3>Verified Artist
    <small>Get all verified artists list</small>
</h3>
<div class="container-fluid">

    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table id="datatable2" class="table table-striped table-hover"
                           ng-class="{'whirl standard' : loading }">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th style="width: 100px;">Phone No.</th>
                            <th>Email ID</th>
                            <th>Gender</th>
                            <th>Experience</th>
                            <th>Qualification</th>
                            <th>Registration Date</th>
                            <th>Rating</th>
                            <th style="width: 85px;">Category</th>
                            <th style="width: 170px;">Serving City</th>
                            <th>Summary</th>
                            <th style="width: 75px;">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in list">

                            <td><a class="link_color" ui-sref="app.artistInfo({id: data.artist_id})">{{$index + 1}}</a>
                            </td>
                            <td><a class="link_color" ui-sref="app.artistInfo({id: data.artist_id})">{{data.name}}</a>
                            </td>
                            <td><a class="link_color"
                                   ui-sref="app.customerInfo({id: data.artist_id})">{{data.phone_no}}</a></td>
                            <td><a class="link_color" ui-sref="app.artistInfo({id: data.artist_id})">{{data.email}}</a>
                            </td>
                            <td><a class="link_color" ui-sref="app.artistInfo({id: data.artist_id})">{{data.gender}}</a>
                            </td>
                            <td><a class="link_color"
                                   ui-sref="app.artistInfo({id: data.artist_id})">{{data.experience}}</a></td>
                            <td><a class="link_color" ui-sref="app.artistInfo({id: data.artist_id})">{{data.qualification}}</a>
                            </td>
                            <td><a class="link_color"
                                   ui-sref="app.artistInfo({id: data.artist_id})">{{data.reg_date}}</a></td>
                            <td><a class="link_color" ui-sref="app.artistInfo({id: data.artist_id})">{{data.rating}}</a>
                            </td>
                            <td><a class="link_color"
                                   ui-sref="app.artistInfo({id: data.artist_id})">{{data.category}}</a></td>
                            <td><a class="link_color" ui-sref="app.artistInfo({id: data.artist_id})">{{data.city}}</a>
                            </td>
                            <td><a class="link_color"
                                   ui-sref="app.artistInfo({id: data.artist_id})">{{data.summary}}</a></td>
                            <td>
                                <div ng-switch="data.is_block">

                                    <button ng-switch-when="1" ng-click="changeStatus(0,data.artist_id)" title="Unblock"
                                            class="btn btn-sm btn-success pull-ext" style="width: 30px;">
                                        <em class="fa fa-unlock"></em>
                                    </button>

                                    <button ng-switch-when="0" ng-click="changeStatus(1,data.artist_id)" title="Block"
                                            class="btn btn-sm btn-success pull-ext">
                                        <em class="fa fa-lock"></em>
                                    </button>

                                    <button ng-switch-when="2" ng-click="changeStatus(0,data.artist_id)" title="Unblock"
                                           disabled class="btn btn-sm btn-danger pull-ext" style="width: 30px;">
                                        <em class="fa fa-trash-o"></em>
                                    </button>

                                    <button ng-if="data.is_block==0||data.is_block==1" ng-click="deleteArtist(data.artist_id)" title="Delete"
                                            class="btn btn-sm btn-danger pull-ext">
                                        <em class="fa fa-trash-o"></em>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <input type="text" name="filter_index" placeholder="#"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_name" placeholder="Name"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_description" placeholder="Phone No"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_image" placeholder="Email ID"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_image" placeholder="Gender"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_mal_price" placeholder="Experience"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_mal_price" placeholder="Qualification"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_mal_price" placeholder="Registration Date"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_mal_price" placeholder="Rating"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_mal_price" placeholder="Category"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_mal_price" placeholder="Serving City"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_mal_price" placeholder="Summary"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->

</div>
    </span>
